* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* pointer cursor */
.cursor-pointer {
  cursor: pointer;
}

/* navbar starts */
#navbar {
  display: flex;
  background-color: #4b4b4b;
  height: 5rem;
  align-items: center;
}

#navbar > * {
  margin-left: 4rem;
}

#priorities {
  background-color: #3d3d3d;
  display: flex;
  width: 18rem;
  align-items: center;
  justify-content: space-evenly;
  height: 70%;
  padding: 25px;
}

#priorities > div {
  width: 3rem;
  height: 1.5rem;
}

#symbols {
  background-color: #3d3d3d;
  display: flex;
  height: 70%;
  width: 9rem;
  justify-content: space-evenly;
  align-items: center;
}

#symbols i {
  color: white;
}
/* navbar ends */

/* colors class starts */
.lightpink {
  background-color: pink;
}
.lightgreen {
  background-color: green;
}
.lightblue {
  background-color: blue;
}
.black {
  background-color: black;
}
/* colors class ends */

/* popup starts */
.todo {
  display: none;
  height: 50vh;
  width: 45vw;
  position: absolute;
  top: calc((100vh - 50vh) / 2);
  left: calc((100vw - 45vw) / 2);
  z-index: 1;
}

/* writing area starts */
.writing-area {
  background-color: lightgray;
  width: 75%;
  /* height: 100%; */
  padding: auto;
  font-size: 2.5rem;
  /* border: none; */
  resize: none;
  outline: none;
}
/* writing area ends */

/* priority setter */
.priority-setter {
  display: flex;
  flex-direction: column;
  width: 25%;
  /* height: 100%; */
  background-color: #4b4b4b;
  justify-content: space-evenly;
  align-items: center;
}

.priority-setter > div {
  /* align-items: space-between; */
  width: 45%;
  height: 13%;
}

/* priority setter ends */

/* ticket container */

.main-cont {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 2rem;
  flex-wrap: wrap;
  height: 100vh;
}

.ticket-cont {
  height: 12rem;
  width: 15rem;
  background-color: lavender;
  position: relative;
}

.ticket-color {
  height: 1rem;
}

.ticket-id {
  height: 2rem;
  background-color: red;
}

.task-area {
  /* space is required in calc */
  height: calc(100% - 1rem - 2rem);
  font-size: 1.5rem;
}

.ticket-lock {
  position: absolute;
  bottom: 2px;
  right: 10px;
}

.active {
  border: 5px solid red;
}

/* end */

/* remove btn add active class */
.red {
  color: red !important;
}
